* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 16px;
}

window#waybar {
  background: rgba(30, 30, 46, 0.5);
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 26px;
  transition: none;
  color: transparent;
  background: transparent;
}

tooltip {
  background: @base;
  opacity: 0.9;
}

tooltip label {
  color: @text;
}

#workspaces {
  margin-top: 4px;
  margin-left: 12px;
  margin-bottom: 4px;
  border-radius: 26px;
  background: @base;
  color: @text;
  transition: none;
}

#workspaces button {
  transition: none;
  color: @text;
  border-radius: 26px;
  background: transparent;
  font-size: 16px;
}

#workspaces button.focused {
  color: @base;
  background: @red;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: @base;
  background: @peach;
}

#tray {
  margin-top: 4px;
  margin-left: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 4px;
  border-radius: 26px;
}

#network,
#pulseaudio,
#temperature,
#cpu,
#disk,
#memory,
#clock,
#battery,
#backlight {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 4px;
  border-radius: 26px;
  transition: none;
}

#network {
  color: @base;
  background: @mauve;
}

#pulseaudio {
  color: @base;
  background: @sky;
}

#temperature {
  color: @base;
  background: @yellow;
}

#temperature.critical {
  background: @red
}

#cpu {
  color: @base;
  background: @blue;
}

#disk {
  color: @base;
  background: @maroon;
}

#memory {
  color: @base;
  background: @peach;
}

#clock {
  color: @base;
  background: @rosewater;
}

#battery {
  color: @base;
  background: @green;
}

#battery.charging {
  background: @peach;
}

#battery.warning:not(.charging) {
  background: @maroon;
}

#battery.critical:not(.charging) {
  background: @red;
}

#backlight {
  color: @base;
  background: @lavender;
}

